<!DOCTYPE html>
<html>
  {% include head-home.html %}
  <body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/assets/js/mobile-menu.js"></script>
    <div class="menuAc" role="button" tabindex="0" aria-label="Toggle mobile menu" aria-expanded="false">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <div class="menuMobil">
      {% include nav-home.html %}
    </div>
    <div class="baslik">
      {{ site.title }}
    </div>
    <div class="orta">
      <div class="ortala">
        <div class="resim">
          <img alt="{{ site.title }}" src="{{ site.url }}/{{ site.picture }}">
        </div>
        <div class="pc">
          {% include nav-home.html %}
        </div>
        <div class="aciklamalar">
          {{ site.description }}
        </div>
      </div>
    </div>
    {% include social-links.html %}
  </body>
</html>
